p.caption {
  color: #777;
  margin-top: 10px;
}

pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

pre.sourceCode {
  color: black;
}

p code {
  white-space: inherit;
  color: #ec1089;
}
