h1, h2, h3, h4 {
  color: #352780;
}

p.caption {
  color: #777;
  margin-top: 10px;
}

pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

p code {
  white-space: inherit;
}

pre.sourceCode code.sourceCode {
  color: #ec1089;
}
