h1, h2, h3, h4 {
  color: #191769;
}

p.caption {
  color: #777;
  margin-top: 10px;
}

pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

p code {
  white-space: inherit;
}

.book .book-body .page-wrapper .page-inner section.normal code {
  color: #bd1481;
  background-color: #ffffff;
  padding: 0;
  font-size: 1em;
}
.book .book-body .page-wrapper .page-inner section.normal code::before {
  content:"";
}
.book .book-body .page-wrapper .page-inner section.normal code::after {
  content:"";
}
/* .book .book-body .page-wrapper .page-inner section.normal pre {
    background: #dce3f5;
} */

code.sourceCode > span{
  color: black;
}